@media (min-width: 768px){

.portfolio-work-header{
  margin-bottom: 30px;
  margin-top:35px;
}

.portfolio-about-wrapper{
    min-height: 500px;
}

.portfolio-about-header{
    padding-bottom: 0px;
}
.portfolio-about-introduction{
    font-size: 1.5em;
}
.portfolio-media-bracket{
  font-size: 5em;
}
}
